attrs==18.2.0
blis==0.2.4
certifi==2018.11.29
chardet==3.0.4
cycler==0.10.0
cymem==2.0.2
cytoolz==0.9.0.1
dill==0.2.9
ftfy==5.5.1
idna==2.8
jsonschema==3.0.0
kiwisolver==1.0.1
matplotlib==3.0.2
msgpack==0.5.6
msgpack-numpy==0.4.3.2
murmurhash==1.0.2
pandas==0.24.1
Pillow==5.4.1
pkg-resources==0.0.0
plac==0.9.6
preshed==2.0.1
pyparsing==2.3.1
pyrsistent==0.14.11
python-dateutil==2.8.0
pytz==2018.9
regex==2018.1.10
requests==2.21.0
scipy==1.2.1
six==1.12.0
spacy==2.1.1
srsly==0.0.5
thinc==7.0.4
toolz==0.9.0
tqdm==4.31.1
ujson==1.35
urllib3==1.24.1
wasabi==0.1.4
wcwidth==0.1.7
wrapt==1.10.11
